{% extends 'BlogBundle:Layout:layout.html.twig' %}
{% block content %}



 <!-- Page Header -->
 <header class="masthead" style="background-image: url({{asset('bundles/app/img/home-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1> {{ pimcore_input('headline', {'width': 540}) }}</h1>
            <span class="subheading"> {{ pimcore_input('subheading', {'width': 700}) }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% for i in pimcore_iterate_block(pimcore_block('contentblock')) %}
   {{ pimcore_areablock("myAreablock") }}
{% endfor %}


{% endblock %}