<div class="row">
    <div class="col-6 blog-col">
        {{ pimcore_areablock("content_50501")}}        
    </div>
     <div class="col-6 blog-col">
        {{ pimcore_areablock("content_50502")}}        
    </div>
</div>