<div class="row">
    <div class="col-4 blog-col">
        {{ pimcore_areablock("content_30701")}}
    </div>
     <div class="col-8 blog-col">
        {{ pimcore_areablock("content_30702")}}
    </div>
</div>