
{% set imageurl=null %}
{% if not editmode %}

 {% set image =pimcore_relation("image",{
    "types": ["asset"],
    "subtypes": {
        "asset": [ "image"],
    },
    "classes": ["person"]
  }) 
  %}

  {% if  image.getElement() is defined and  image.getElement() != null %}
    {% set imageurl= image.getElement().getThumbnail("SlideShow") %}
  {% endif %}
 
{% endif %}

<header class="masthead" style="background-image: url({{imageurl}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1> {{ pimcore_input('headline', {'width': 540}) }}</h1>
            <span class="subheading"> {{ pimcore_input('subheading', {'width': 700}) }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>


{% if editmode %}

{{  pimcore_relation("image",{
    "types": ["asset"],
    "subtypes": {
        "asset": [ "image"],
    },
    "classes": ["person"]
}) }}


{% endif %}